# Next.js & Node.js
node_modules/
.next/
out/
build/
dist/

# Environment Variables
.env
.env*.local
!.env.example

# Vercel
.vercel

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/
.python-version
main.py

# System & IDE
.DS_Store
*.pem
.vscode/
.idea/
